.Calc {
      text-align: center;
        position: relative;
      color: #FFFFFF;
        white-space: pre-wrap;
  }

.Score{
    color: lightgreen;

}

.Rewards{
    position: relative;
    top: 300px;
    margin: auto;
    align: center;
    text-align: center;
    padding-bottom: 100px;
    background-color: #555;
    padding-top: 16px;
}

.Rules{
    position: relative;
    top: 300px;
    padding: 20px;
    margin: auto;
    align: center;
    text-align: center;
    background-color: #444;
}

.Buttons{
    width: 230px;
    margin: auto;
    align: center;
    text-align: center;
    letter-spacing: 60px;
}

.Scratch {
    height: 48px;
    position: relative;
    white-space: pre-wrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

text {
    position: relative;
    top: -17px;
    left: -29px;
    width: 100%;
    color: black;
}
