.Calc {
      text-align: center;
        position: relative;
      color: #FFFFFF;
        white-space: pre-wrap;
  }

.Scratch {
    height: 48px;
    position: relative;
    white-space: pre-wrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

text {
    position: relative;
    top: -17px;
    left: -29px;
    width: 100%;
    color: black;
}
